#wrapHome {
    display: block;
    width: 700px;
    margin: 0 auto 70px;
}

.set_profile {
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    padding-bottom: 32px;
}

.cover_background .wrap_inner {
    margin: 30px 30px 0;
}

.cover_background .wrap_inner .wrap_custom_setting {
    width: 100%;
    margin-left: -30px;
    color: #666;
    top: 3px;
    font-size: 17px;
    text-align: center;
    position: absolute;
    margin-top: -3px;
    font-weight: 400;
    z-index: -30;
}

.cover_color {
    position: relative;
    min-height: 150px;
    background-color: #f8f8f8;
}

.wrap_profile {
    position: relative;
    width: 700px;
    margin: 0 auto 35px;
    padding: 35px 0 70px;
    /* border-bottom: 1px solid #eee; */
}

/* 프로필 사진 */

.wrap_profile .wrap_profile_img {
    position: relative;
    min-height: 90px;
}

.wrap_profile .profile_img {
    position: absolute;
    left: 50%;
    bottom: -15px;
    width: 100px;
    height: 100px;
    margin-left: 237px;
}

.wrap_profile .profile_img .border {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.wrap_profile .profile_img .profileUserImg {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: zoom-in;
    background-color: #fff;
}

/* zoom in */
.zoom_in {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: auto;
    cursor: zoom-out;
}

.zoom_in.active {
    display: block;
}

.zoom_in .profile_img {
    position: relative;
    -webkit-transition: all .3s;
    -webkit-transform: translateZ(0);
}

.zoom_in .profile_img .profileUserImg {
    position: relative;
    width: 500px;
    height: 500px;
    top: 212px;
    left: 36%;
    display: block;
    cursor: zoom-out;
    transition: all .3s;
    transform: translateZ(0);
    border-radius: 100%;
}

/* 프로필 정보 */

.wrap_profile_desc {
    top: 50%;
}

.wrap_profile_desc .head_iedit {
    overflow: hidden;
    font-size: 12px;
    line-height: 15px;
    color: #959595;
    padding-left: 2px; 
}

.wrap_profile_desc .head_iedit .tit_edit {
    float: left;
    margin-right: 10px;
    padding: 1px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333
}

.wrap_profile_desc .profile_nickname {
    display: block;
    padding-right: 170px;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
    font-family: "Noto Sans KR";
}

.desc_intro {
    font-size: 13px;
    line-height: 24px;
    color: #333;
    text-overflow: ellipsis;
    width: 550px;
    font-family: "Noto Sans KR";
    opacity: .9;
}

/* 버튼 */

.wrap_profile_btn {
    position: absolute;
    right: 0;
    bottom: auto;
    height: 36px;
    padding-right: 30px;
}

.wrap_profile_btn .btn_write {
    float: right;
    width: 80px;
    padding: 0;
    display: inline-block;
    min-width: 80px;
    height: 32px;
    border: 1px solid #fec1a2;
    border-radius: 20px;
    color: #fec1a2;
    font-size: 13px;
    line-height: 32px;
    background-color: #fff;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
}

.more_control {
    position: absolute;
    top: 0;
    right: -5px;
}

.more_control .btn_control {
    overflow: hidden;
    width: 27px;
    height: 32px;
}

.more_control .btn_control .icon_contrl {
    display: block;
    position: relative;
    width: 4px;
    height: 17px;
    background-position: -180px -190px;
}

.ico_v1 {
    overflow: hidden;
    background: url(../images/layout/ico_brunch_v1_190902.png) no-repeat;
    line-height: 0;
    vertical-align: top;
}

.control_action {
    display: none;
    position: absolute;
    top: 42px;
    right: 12px;
    width: 218px;
    height: auto;
}

.more_control.action .control_action {
    display: block;
}

.control_action .inner_action_control {
    border: 1px solid #ddd;
    background-color: #fff;
}

.control_action .inner_action_control .edit_profile {
    display: block;
    width: 100%;
    height: 42px;
    font-size: 13px;
    color: #959595;
}

.control_action .inner_action_control .edit_profile:hover {
    color: #333;
    background-color: #f8f8f8;
}

/* 컨텐츠 */

.wrap_authorinfo {
    display: inline-block;
    position: relative;
    padding: 0 7px;
    line-height: 1.5;
    width: 100%;
    margin-top: -1px;
    text-align: center;
    border-top: 1px solid #eee;
}

.text_tab {
    font-size: 20px;
    color: #959595;
    width: 50%;
    font-family: "Noto Sans KR";
    text-align: center;
}

.text_tab:hover {
    border-top: 1px solid #333;
    color: #333;
}

#conList {
    display: none;
}

.text_tab .text {
    padding-top: 20px;
}

.wrap_authorinfo .wrap_pic_list {
    text-align: left;
}